.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #f2f4f5
}

.header {
  flex: 0 60px;
}

.footer {
  flex: 0 36px;
}

