
.container {
    padding-top: 20px;
    /* display: flex;
    flex-direction: column; */
}

/* .contentContainer {
    flex: 1 1 auto;
} */

.hiddenContent {
    display: none;
}
/* 
.content {
    height: 100%;
} */
